#card {
    
    border: solid black;
    margin: 3%;
    height:58vh;
}
#kk{
    display: flex;
    flex-wrap: wrap;
}
#image {
    width: 100%;
    height:100% ;
}

#details {
    width: 50vw;
    height: 150%;
}

#orderDetails {
    display: flex;
    flex-direction:row-reverse;
    justify-content: space-evenly;
    margin-bottom: 10%;
   
}
#title{
    margin: 5%;
}