
#logo {
    width: auto;
    height: auto;
    position: relative;
    margin-right: -50%;
    will-change: filter;
    transition: filter 300ms;
    
  }
  
  #details {
    position: absolute;
    margin-left: -10%;
    top: 80px;;
    
    
  
  }
  #businessDetails{
    background-color: black;
    color:white;
    
  }
  
  #logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
 
  
 